<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <userSettings>
    <gColor>
      <setting name="BlueWBDiff" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RedWBDiff" serializeAs="String">
        <value>2</value>
      </setting>
    </gColor>
  </userSettings>
</configuration>